APP_NAME=Events Aggregator
DEBUG=true
PORT=8000

EVENTS_PROVIDER_BASE_URL=http://example-provider.ru
EVENTS_PROVIDER_API_KEY=example_api_key
EVENTS_PROVIDER_TIMEOUT=10.0
EVENTS_PROVIDER_MAX_RETRIES=3

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/events

HTTP_TIMEOUT=10.0